/* header{
    border:solid red 3px;
    height: 100vh;
    width: 8vw;
    border-radius: 30%; 
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius:40px ;
    border-bottom-right-radius: 40px;
    background-color: #00453F;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex
    
    
} */
header section{
    height: 75%;
    border: solid red
}
.d20{
    /* border: solid white; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    align-items: flex-start;
    display: flex;
    align-items: center;
    
}
 nav{

   border:solid yellow;
   
}

header nav ul {
    height: 200px;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    justify-content: top;
    justify-content: flex-end;
    
}
.d30{
    margin-bottom: 15%;
    border: solid white;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    display:flex
    
    
}
.d30 section{
    height:50px ;
    width: 50px;
    background-color: #3DBDA7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
    
}



/* Main */

/* Parte de cima da main */





.amigos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.amigos img{
    border-radius: 50%;
}
.amigos button{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
}

Footer{
    height: 98vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    display: flex
    
    
}

.parteUmFooter{
    border: solid white;
    height: 3vh;
    width: 3vw;
    height: 72vh;
    width: 8vw;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius:40px ;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #00453F;
    

}

.parteUmFooter img{
    
    height: 3vh;
    width: 3vw;
   
}
.parteDoisFooter{
    border: solid white;
    width: 8vw;
    height: 25vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius:40px ;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    background-color: #00453F;
    
    
}
.parteDoisFooter img {

    height: 3vh;
    width: 3vw;
    

}




