*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
#root{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(131deg, #232323 26.84%, #262626 53.62%, rgba(0, 0, 0, 0.84) 101.2%, rgba(10, 10, 10, 0.57) 110.1%, rgba(10, 4, 4, 0.33) 113.67%, rgba(0, 0, 0, 0.17) 116.36%, rgba(0, 0, 0, 0.00) 131.01%);
    align-items: center;
    justify-content:space-around;
}

